## Description 
This notenbook analyzes visulizes precipitation data

In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_fa4d8c9e361c47158ce211dd0358c615 = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_fa4d8c9e361c47158ce211dd0358c615 = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_fa4d8c9e361c47158ce211dd0358c615 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='Wt6Mi76P8Allp70XQXlC7WOjRmncnK4aMXhmfhQ59noD',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_fa4d8c9e361c47158ce211dd0358c615)

body = client_fa4d8c9e361c47158ce211dd0358c615.get_object(Bucket='courseatoolsfordatascienceweek3-donotdelete-pr-ywatsoctfv5os9',Key='precipitation.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,Country or Area,1990,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,Albania,28385.000000,40311.000000,0.000000,0.000000,0.0,38284.000000,30683.000000,30491.000000,35883.000000,27893.000000,42787.000000,42840.000000,32380.000000,30964.000000,0.000000,0.000000
1,Algeria,76160.000000,90270.000000,53380.000000,74460.000000,66470.0,50150.000000,64430.000000,43840.000000,37317.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100000.000000,0.000000
2,Andorra,539.947998,510.673004,560.340027,434.475006,254.0,450.151001,518.666016,456.626007,565.559021,566.583008,567.044006,530.278015,353.220001,306.630005,0.000000,0.000000
3,Anguilla,93.099998,100.730003,0.000000,0.000000,0.0,0.000000,68.190002,70.730003,68.190002,108.769997,84.250000,124.400002,99.550003,86.290001,96.889999,71.080002
4,Antigua and Barbuda,300.299988,374.500000,323.299988,279.200012,384.5,426.799988,249.600006,238.000000,268.600006,253.899994,426.899994,371.000000,332.799988,293.600006,392.500000,276.899994